.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-button-row {
    display: table-cell;

 
  }
  
  .example-button-row .mat-button-base {
    margin: 80px 50px 50px 50px;
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 320px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .bg-image {
    /* The image used */
    background-image: url("../../assets/MIT-WPU-Pune1.jpg");
    
    
  }
  a{
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: none;
  }