<p>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="cursor:pointer" routerLink ="/about" routerLinkActive ="active" >MIT-World Peace University</span>
  
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
  </p>
  <mat-toolbar color="primary"> Achievements </mat-toolbar>
<ul class="list-group">
<li class="list-group-item"> Indian Students Team Wins Gold and Bronze at International Economics Olympiad-2019</li> 
<li class="list-group-item">TEAM ACCELERACER’S improves its ranking at the FORMULA BHARAT 2019 Event</li>
<li class="list-group-item">Heartiest Congratulations to the winning teams of MIT-WPU for their splendid victories in Smart India Hackathon 2019</li>
    <li class="list-group-item">B.Tech Students of MIT-WPU Launch Mobile App on World Environment Day-5th June</li>
        <li class="list-group-item">MIT-WPU is third winner of the Singapore-India Hackathon 2018</li>
        <li class="list-group-item">
            ACM-W Event (“Career Planning and Placement Preparation for girl students”)
        </li>




<li class="list-group-item">Pune Smart City Hackathon 2018</li> 
<li class="list-group-item">All India Inter-University Westzone Chess Tournament</li> 
<li class="list-group-item">Won First position in Paper Presentation at National Students’ Space Challenge, IIT-Kharagpur</li> 
<li class="list-group-item">Inaugural Function of ISSE Student Chapter at MIT-WPU</li> 
</ul>